* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.perks-box {
    flex: 1;
    margin-right: 20px;
}
.perks-box h2 {
    margin-bottom: 10px;
}
.perks-box input {
    border: 2px solid #ff8111;
    padding: 5px;
    font-size: 24px;
    height:60px;
    width: 400px;
}
.rounded-rectangle {
    flex: 1;
    background-color: #ff8111;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
.rounded-rectangle h2 {
    margin: 20px;
}
.next-button {
    background: linear-gradient(90deg, #ff8c00, #ff6a00);
    color: white;
    padding: 14px 24px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 20px; */
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 10px rgba(255, 140, 0, 0.3);
    position: relative;
    overflow: hidden;
}

/* Header Image */
.header-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}